### Localization (Language: en_US, Formats & Currency: France/Euros, Keyboard: FR)
d-i debian-installer/language string en
d-i debian-installer/country string FR
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8, fr_FR.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr(latin9)
d-i time/zone string Europe/Paris
d-i clock-setup/utc boolean true

### Network configuration (Prompt for Wi-Fi SSID / WPA2 password if no cable plugged)
d-i netcfg/choose_interface select auto
# comment to be prompted for hostname
# d-i netcfg/get_hostname string pro-romain
d-i netcfg/get_domain string ""

### Root & User accounts (Root login disabled -> sudo enabled)
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Romain Prignon
d-i passwd/username string romainprignon
# Set a temporary password or comment out to be prompted during install:
# d-i passwd/user-password password temp_password
# d-i passwd/user-password-again password temp_password

### Mirror & Apt configuration
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Enable non-free firmware, non-free, and contrib
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Disable deb-src (source repos)
d-i apt-setup/enable-source-repositories boolean false

# security and/or updates, backports
d-i apt-setup/services-select multiselect security

### Partitioning (Encrypted LVM + 36GB Swap)
d-i partman-auto/method string crypto
d-i partman-crypto/erase_data boolean false
d-i partman-auto/choose_recipe select crypto-lvm
d-i partman-auto-lvm/guided_size string max

# Unmount active partitions if any
d-i partman/early_command string debconf-set partman-auto/disk "$(list-devices disk | head -n1)"
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true

d-i partman-auto/expert_recipe string                         \
      crypto-lvm ::                                          \
              512 512 512 fat32                              \
                      $defaultignore{ }                      \
                      $primary{ }                            \
                      $bootable{ }                           \
                      method{ efi } format{ }                \
              .                                              \
              1024 1024 1024 ext4                            \
                      $defaultignore{ }                      \
                      $primary{ }                            \
                      method{ format } format{ }             \
                      use_filesystem{ } filesystem{ ext4 }   \
                      mountpoint{ /boot }                    \
              .                                              \
              36864 36864 36864 linux-swap                   \
                      $lvmok{ }                              \
                      lv_name{ swap }                        \
                      method{ swap } format{ }               \
              .                                              \
              10000 20000 -1 ext4                            \
                      $lvmok{ }                              \
                      lv_name{ root }                        \
                      method{ format } format{ }             \
                      use_filesystem{ } filesystem{ ext4 }   \
                      mountpoint{ / }                        \
              .

d-i partman/choose_partition select finish
# do NOT Prompt user for confirmation before wiping disk & writing partitions
# d-i partman-partitioning/confirm_write_new_label boolean true
# d-i partman/confirm boolean true
# d-i partman/confirm_nooverwrite boolean true

### Base System & Kernel
d-i base-installer/kernel/override-image string linux-image-amd64

### Package selection & Updates
# No desktop environment, only standard system utilities
tasksel tasksel/first multiselect standard
d-i pkgsel/include string sudo gdm3 gnome-shell nautilus gnome-terminal coreutils curl git make

# No release upgrade / No unattended updates
d-i pkgsel/upgrade select none
d-i pkgsel/update-policy select none
popularity-contest popularity-contest/participate boolean false

### Bootloader & Finish
d-i grub-installer/bootdev string default
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Enforce Hostname (overrides DHCP assigned hostname)
d-i preseed/late_command string \
    echo "pro-romain" > /target/etc/hostname; \
    sed -i 's/127.0.1.1.*/127.0.1.1\tpro-romain/' /target/etc/hosts
