function webm-to-gif() {
    ffmpeg -i $1 -pix_fmt rgb8 $2
}

function webm-to-mp4() {
    ffmpeg -i $1 -max_muxing_queue_size 9999 $2
}

function superkill() {
    sudo kill `sudo lsof -t -i:$1`
}

function supertouch() {
    for f in "$@"; do mkdir -p "$(dirname "$f")"; done
    touch "$@"
}

for file in $HOME/.functions.d/*; do source $file; done
